@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color:#FEDC47
    --secondary-color:#52398C
    --btn-color:#B7407D
}

/* baseline css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato',sans-serif;
    color: #333;
    line-height: 1.6;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

/* navbar */
.navbar{
    height: 80px;

}

.navbar ul{
    display: flex;
    gap: 30px;
    
}
.navbar .flex{
    align-items: center;
    justify-content: space-between;
}